<html>
	<head>
		<title>Chat</title>
		<style>
		input { display: block; }
		ul    { list-style: none; }
		</style>
	</head>
	<body>
		<ul id="messages"></ul>
		<form id="chatbox">
			<textarea></textarea>
			<input type="submit" value="Send"/>
		</form>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
	</script>
	<script>
		$(function() {
			// NOTE: there is no loop here, but the functions can get called again
			// and again as they are sort of even handlers.
			var socket = null;
			var msgBox = $("#chatbox textarea");
			var messages = $("#messages");
			// this function does not work on page load.
			// it works whenever the submit button is clicked.
			$("#chatbox").submit(function() {
				if (!msgBox.val())  return false;
				if (!socket) {
					alert("Error: There is no socket connection");
					return false;
				}
				socket.send(msgBox.val());
				msgBox.val("");
				return false;
			});

			// this code block gets executed on page load.
			// our page loads only once, and we open a web socket conn to the server.
			// NOTE: there is no loop here, so the connection is initialized only once.
			if (!window["WebSocket"]) {
				alert("Error: Your browser does not support web sockets")
			} else {
				socket = new WebSocket("ws://{{.Host}}/room");
				socket.onclose = function() {
					alert("Connection has been closed");
				}
				socket.onmessage = function(e) {
					messages.append($("<li>").text(e.data));
				}
			}
		});
	</script>
	</body>
</html>
